---
import Html from "./icons/html.astro";
import Js from "./icons/js.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import Nextjs from "./icons/nextjs.astro";
import Tailwaing from "./icons/tailwing.astro";
import React from "./icons/react.astro";
import Css from "./icons/css.astro";
import Aws from "./icons/aws.astro";
import Php from "./icons/php.astro";
import Mysql from "./icons/mysql.astro";
import StyledComponet from "./icons/sytledcomponet.astro";
const { value, color } = Astro.props;
const bgColor =
    color === "sec"
        ? "dark:bg-indigo-900 bg-zinc-200"
        : "dark:bg-indigo-950 bg-zinc-700";
const pxy =
    color === "sec"
        ? "px-4 py-2"
        : "text-lg px-3 p-1 sm:text-sm sm:px-3 sm:py-1 md:text-xs md:px-2 md:py-1 ";
const hover =
    color === "sec" &&
    "transition dark:bg-[#1e1b4b] bg-zinc-200 hover:dark:bg-blue-800 hover:bg-zinc-400";
---

<div class="flex items-center">
    <span
        class={`flex gap-2 items-center ${pxy} 
        text-sm font-semibold 
        rounded-md 
        ${hover}
        ${bgColor}`}
    >
        {value === "JavaScript" && <Js md />}
        {value === "PHP" && <Php md />}
        {value === "CSS" && <Css md />}
        {value === "MySql" && <Mysql md />}
        {value === "Aws" && <Aws md />}
        {value === "React" && <React md />}
        {value === "Tailwind" && <Tailwaing md />}
        {value === "Next.js" && <Nextjs md />}
        {value === "Astro" && <AstroIcon md />}
        {value === "Html" && <Html md />}
        {value === "Styled Componet" && <StyledComponet md />}
        {value}
    </span>
</div>
