---
import Tag from "../components/Tags.astro";
import Star from "../components/icons/star.astro";
const { id } = Astro.props;
---

<section class="flex flex-col gap-2" id={id}>
    <div class="flex gap-1 items-center">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="28"
            height="28"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-briefcase"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M3 7m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"
            ></path><path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2"
            ></path><path d="M12 12l0 .01"></path><path
                d="M3 13a20 20 0 0 0 18 0"></path></svg
        >
        <Tag value="Experiencia" />
    </div>
    <div
        class="flex flex-col gap-2 text-xl text-zinc-400 [&>span>p>strong]:text-yellow-400 [&>span>p>strong]:font-medium"
    >
        <span>
            <div
                class="flex gap-2 items-center dark:text-yellow-400 text-yellow-500"
            >
                <Star />
                <h2 class="text-sm">2006 / 2008</h2>
            </div>
            <p>
                Desarrollador del sistema de gestión
                <strong>ciberjuegos.com</strong>, trabajando con más de 50
                tablas relacionales en MySQL y utilizando PHP y JavaScript como
                lenguajes principales para el desarrollo del código fuente.
            </p>
        </span>
        <span>
            <div
                class="flex gap-2 items-center dark:text-yellow-400 text-yellow-500"
            >
                <Star />
                <h2 class="text-sm">2008 / 2010</h2>
            </div>
            <p>
                Asistente y programador Back-End en la aplicación
                <strong>todoInsumos.com</strong>. Desarrollo y mantenimiento de
                un sistema de gestión para artículos informáticos, optimizando
                procesos de inventario y ventas.
            </p>
        </span>
        <span>
            <div
                class="flex gap-2 items-center dark:text-yellow-400 text-yellow-500"
            >
                <Star />
                <h2 class="text-sm">2018 / 2019</h2>
            </div>
            <p>
                Desarrollador del sistema administrativo de
                <strong>yamipc.com</strong>, enfocado en la automatización de
                procesos internos y gestión eficiente de recursos.
            </p>
        </span>
        <span>
            <div
                class="flex gap-2 items-center dark:text-yellow-400 text-yellow-500"
            >
                <Star />
                <h2 class="text-sm">2020 / Actualidad</h2>
            </div>
            <p>
                Capacitación continua en tecnologías de desarrollo de software,
                especializándome en programación Back-End y Front-End. Durante
                este período he creado varias aplicaciones menores a modo de
                práctica y entrenamiento, perfeccionando mis habilidades y
                explorando nuevas tecnologías.
            </p>
        </span>
    </div>
</section>
