---
import Tag from "../components/Tags.astro";
const { id } = Astro.props;
---

<section class="flex flex-col gap-2" id={id}>
    <Tag value="Experiencia" />
    <div class="flex flex-col gap-3 text-lg text-zinc-400">
        <p>
            Desarrolador de sistema de gestion ciberjuegos.com con mas de 50
            tablas relacionas usando mysql y php.
        </p>
        <p>
            Asistente tecnico y programador de back end en app todoInsumos.com.
            Sistema de gestion de articulos informaticos
        </p>
    </div>
</section>
