---
import Tag from "../components/Tags.astro";
const { id } = Astro.props;
---

<section class="flex flex-col gap-2" id={id}>
    <Tag value="Experiencia" />
    <div class="flex flex-col gap-2 text-lg text-zinc-400">
        <span>
            <h2 class="text-sm text-green-500">2006 /08</h2>
            <p>
                Desarrolador de sistema de gestion ciberjuegos.com con mas de 50
                tablas relacionas en mysql y con php y js como codigo fuente.
            </p>
        </span>
        <span>
            <h2 class="text-sm text-green-500">2008 /10</h2>
            <p>
                Asistente y programador de BackEnd en app
                todoInsumos.com. Sistema de gestion de articulos informaticos.-
            </p>
        </span>
        <span>
            <h2 class="text-sm text-green-500">2018 /19</h2>
            <p>
                Desarrolador sistema administratio yamipc.com.-
            </p>
        </span>
        <span>
            <h2 class="text-sm text-green-500">2020 /24</h2>
            <p>
                Asistente tecnico y programador de back end en app
                todoInsumos.com. Sistema de gestion de articulos informaticos
            </p>
        </span>
    </div>
</section>
