---
import Tag from "../components/Tags.astro";
const { id } = Astro.props;
---

<section class="flex flex-col gap-2" id={id}>
    <Tag value="Experiencia" />
    <div class="flex flex-col gap-2 text-lg text-zinc-400">
        <span>
            <h2 class="text-sm text-green-500">2006 / 2008</h2>
            <p>
                Desarrollador del sistema de gestión <strong>Ciberjuegos.com</strong>, 
                trabajando con más de 50 tablas relacionales en MySQL y utilizando PHP y 
                JavaScript como lenguajes principales para el desarrollo del código fuente.
            </p>
        </span>
        <span>
            <h2 class="text-sm text-green-500">2008 / 2010</h2>
            <p>
                Asistente y programador Back-End en la aplicación <strong>TodoInsumos.com</strong>. 
                Desarrollo y mantenimiento de un sistema de gestión para artículos informáticos, 
                optimizando procesos de inventario y ventas.
            </p>
        </span>
        <span>
            <h2 class="text-sm text-green-500">2018 / 2019</h2>
            <p>
                Desarrollador del sistema administrativo de <strong>Yamipc.com</strong>, 
                enfocado en la automatización de procesos internos y gestión eficiente de recursos.
            </p>
        </span>
        <span>
            <h2 class="text-sm text-green-500">2020 / Actualidad</h2>
            <p>
                Capacitación continua en tecnologías de desarrollo de software, especializándome en 
                programación Back-End y Front-End. Durante este período he creado varias aplicaciones 
                menores a modo de práctica y entrenamiento, perfeccionando mis habilidades y 
                explorando nuevas tecnologías.
            </p>
        </span>
    </div>
</section>
