---
import Tag from "../components/Tags.astro";
import Html from "./icons/html.astro";
import Js from "./icons/js.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import Nextjs from "./icons/nextjs.astro";
import Tailwaing from "./icons/tailwing.astro";
import React from "./icons/react.astro";
import Css from "./icons/css.astro";
import Aws from "./icons/aws.astro";
import Php from "./icons/php.astro";
import Mysql from "./icons/mysql.astro";
const { id } = Astro.props;
---

<section class="flex flex-col gap-10" id={id}>
    <div class="flex gap-1 items-center">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="28"
            height="28"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-brackets-angle"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M8 4l-5 8l5 8"></path><path d="M16 4l5 8l-5 8"></path></svg
        >
        <Tag value="Habilidades" />
    </div>
    <div class="flex flex-wrap gap-2 justify-between">
        <Html />
        <Js />
        <AstroIcon />
        <Nextjs />
        <React />
        <Css />
        <Tailwaing />
        <Aws />
        <Mysql />
        <Php/>
    </div>
</section>
