---
import Linkedin from "./icons/linkedin.astro";
import Email from "./icons/email.astro";
const { id } = Astro.props;
---

<section id={id} class="grid-container">
    <img class="profile-img" src="./foto2.JPG" alt="Andrés Markovic" />
    <div class="name">
        <h1>Andrés Markovic</h1>
        <h2>Analista de Sistemas</h2>
    </div>
    <p class="description">
        +20 años de experiencia en programación. Especializado en el desarrollo
        y diseño de aplicaciones web modernas.
    </p>
    <div class="icons">
        <Linkedin />
        <Email />
    </div>
</section>

<style>
    .grid-container {
        display: grid;
        grid-template-columns: 160px auto;
        grid-template-areas:
            "img name"
            "img description"
            "img action";
        row-gap: 10px;
        justify-items: start;
    }

    .profile-img {
        grid-area: img;
        max-width: 120px;
        border-radius: 10px;
        width: 100%;
        object-fit: cover;
        margin-top: 10px;
    }

    .name {
        grid-area: name;
    }
    .name h1 {
        font-size: 34px;
        font-weight: 600;
    }
    .name h2 {
        font-size: 20px;
        font-weight: 100;
    }

    .description {
        grid-area: description;
        font-size: 20px;
        color: #71717a;
    }
    
    .icons {
        grid-area: action;
        display: flex;
        gap: 12px;
    }

    @media (max-width: 700px) {
        .grid-container {
            grid-template-columns: 100px auto;
            grid-template-areas:
                "img name"
                "description description"
                "action action";
            row-gap: 10px;
        }
        .profile-img {
            margin: unset;
            max-width: 70px;
            border-radius: 50%;
        }
    }
</style>
