---
import Linkedin from "./icons/linkedin.astro";
import Email from "./icons/email.astro";
const { id } = Astro.props;
---

<section id={id} class="grid-container grid gap-y-2.5">
    <img class="profile-img" src="./foto2.JPG" alt="Andrés Markovic" />
    <div class="name">
        <h1 class="text-4xl font-semibold">Andrés Markovic</h1>
        <h2 class="text-xl font-thin">Analista de Sistemas</h2>
    </div>
    <p class="description text-zinc-400 text-xl">
        +20 años de experiencia en programación. Especializado en el desarrollo
        y diseño de aplicaciones web modernas.
    </p>
    <div class="icons flex gap-3">
        <Linkedin />
        <Email />
    </div>
</section>

<style>
    .grid-container {
        grid-template-columns: 160px auto;
        grid-template-areas:
            "img name"
            "img description"
            "img action";
        justify-items: start;
    }

    .profile-img {
        grid-area: img;
        max-width: 120px;
        border-radius: 10px;
        width: 100%;
        margin-top: 10px;
        object-fit: cover;
    }

    .name {
        grid-area: name;
    }

    .description {
        grid-area: description;
    }

    .icons {
        grid-area: action;
    }

    @media (max-width: 700px) {
        .grid-container {
            grid-template-columns: 100px auto;
            grid-template-areas:
                "img name"
                "description description"
                "action action";
        }
        .profile-img {
            margin: unset;
            max-width: 70px;
            border-radius: 50%;
        }
    }
</style>
