---
import Linkedin from "./icons/linkedin.astro";
import Email from "./icons/email.astro";
const { id } = Astro.props;
---

<section id={id} class="grid-container">
    <img class="profile-img" src="./foto2.JPG" alt="Andrés Markovic" />
    <h1 class="name">Andrés Markovic</h1>
    <p class="description">
        Analista de Sistemas con más de 20 años de experiencia en programación.
        Especializado en el desarrollo y diseño de aplicaciones web modernas.
    </p>
    <div class="icons">
        <Linkedin />
        <Email />
    </div>
</section>

<style>
    .grid-container {
        display: grid;
        grid-template-columns: 150px 1fr;
        grid-template-rows: auto auto auto;
        gap: 1rem;
        align-items: start;
    }

    .profile-img {
        grid-row: span 3;
        border-radius: 15px;
        width: 100%;
        object-fit: cover;
    }

    .name {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .description {
        color: #71717a;
    }

    .icons {
        display: flex;
        gap: 0.5rem;
    }

    @media (max-width: 700px) {
        .grid-container {
            grid-template-columns: 70px 1fr;
        }
    }
</style>
