---
import Tag from "../components/Tags.astro";
const { id } = Astro.props;
---

<section class="flex flex-col gap-3" id={id}>
    <Tag value="Sobre mí" />
    <section class="flex flex-col gap-3 text-lg text-zinc-400">
        <p>
            Soy Analista de Sistemas con una sólida trayectoria en el desarrollo
            de software. Mi carrera comenzó con la programación en lenguajes
            como Visual Basic, Pascal, C++ y Delphi.
        </p>
        <p>
            En 2005, expandí mi conocimiento al mundo del desarrollo web
            mediante cursos certificados de de PHP, HTML, JS , MySQL.
        </p>
        <p>
            En 2020, realice cursos intensivos en academias como Udemy. Tomando
            conocimiento en React, Node.js y JavaScript,
        </p>
        <p>
            Actualmente, estoy liderando la modernización de proyecto que
            cuentan con mas de 50 tablas. Usando el ecosistema de AWS
        </p>
        <p>
            Mi experiencia combina un profundo conocimiento de las tecnologías
            tradicionales y modernas, lo que me permite abordar proyectos desde
            una perspectiva integral y orientada a la solución de problemas.
        </p>
    </section>
</section>
