---
import Tag from "../components/Tags.astro";
const { id } = Astro.props;
---

<section class="flex flex-col gap-3" id={id}>
    <div class="flex gap-1 items-center">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="28"
            height="28"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-user-question"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path><path
                d="M6 21v-2a4 4 0 0 1 4 -4h3.5"></path><path d="M19 22v.01"
            ></path><path
                d="M19 19a2.003 2.003 0 0 0 .914 -3.782a1.98 1.98 0 0 0 -2.414 .483"
            ></path></svg
        >
        <Tag value="Sobre mí" />
    </div>
    <section class="flex flex-col gap-3 text-lg text-zinc-400">
        <p>
            Soy Analista de Sistemas con una sólida trayectoria en el desarrollo
            de software. Mi carrera comenzó con la programación en lenguajes
            como Visual Basic, Pascal, C++ y Delphi.
        </p>
        <p>
            En 2005, expandí mi conocimiento al mundo del desarrollo web
            mediante cursos certificados de de PHP, HTML, JS , MySQL.
        </p>
        <p>
            En 2020, realice cursos intensivos en academias como Udemy. Tomando
            conocimiento en React, Node.js y JavaScript,
        </p>
        <p>
            Actualmente, estoy liderando la modernización de proyecto que
            cuentan con mas de 50 tablas. Usando el ecosistema de AWS
        </p>
        <p>
            Mi experiencia combina un profundo conocimiento de las tecnologías
            tradicionales y modernas, lo que me permite abordar proyectos desde
            una perspectiva integral y orientada a la solución de problemas.
        </p>
    </section>
</section>
