<div
    class="group
  flex
    gap-2 px-3 py-2
    dark:bg-[#1e1b4b] bg-zinc-200
    hover:dark:bg-blue-800
    hover:bg-zinc-400
    active:scale-95
    cursor-pointer
    transition rounded-xl"
>
    <div class="relative overflow-hidden">
        <div
            class="flex gap-2 group-hover:-translate-y-7 duration-[1.125s] ease-[cubic-bezier(0.19,1,0.22,1)]"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-file-type-pdf"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                    d="M14 3v4a1 1 0 0 0 1 1h4"></path><path
                    d="M5 12v-7a2 2 0 0 1 2 -2h7l5 5v4"></path><path
                    d="M5 18h1.5a1.5 1.5 0 0 0 0 -3h-1.5v6"></path><path
                    d="M17 18h2"></path><path d="M20 15h-3v6"></path><path
                    d="M11 15v6h1a2 2 0 0 0 2 -2v-2a2 2 0 0 0 -2 -2h-1z"
                ></path></svg
            >Currículum
        </div>
        <div
            class="flex gap-2 absolute top-7 left-0 group-hover:top-0 duration-[1.125s] ease-[cubic-bezier(0.19,1,0.22,1)]"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-download"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                    d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"></path><path
                    d="M7 11l5 5l5 -5"></path><path d="M12 4l0 12"></path></svg
            >
            <a href="cv_markovic.pdf" target="_blank">Descargar</a>
        </div>
    </div>
</div>
