---
import Badge from "../Badge.astro";
const { bangle = "", Link = "", img } = Astro.props;
const banglesList = bangle.split(",");
---

<span
    class="relative
    rounded-lg
    group
    cursor-pointer
    dark:bg-blue-900 bg-zinc-200"
>
    <img src={img} alt={img} class="w-full object-cover" />
    <div
        class="absolute inset-0 dark:bg-blue-900
        bg-zinc-900
        opacity-0
        transition-opacity"
    >
    </div>
    <span
        class="absolute inset-0
        flex flex-col gap-3 items-center justify-center
        text-white text-xl
        opacity-0
        group-hover:opacity-100
        backdrop-blur
        transition-opacity"
    >
        {
            Link && (
                <a
                    href={Link}
                    target="_blank"
                    class="text-black dark:text-white"
                >
                    <Badge value="Preview" color="sec" />
                </a>
            )
        }
        <div class="absolute bottom-2 p-4 flex flex-col gap-2">
            <div class="flex gap-1 flex-wrap justify-star">
                {banglesList.map((item: any) => <Badge value={item.trim()} />)}
            </div>
        </div>
    </span>
</span>
<style>
    img {
        padding: 20px;
        mask-image: linear-gradient(black 70%, transparent);
    }
</style>
